[Unit]
Description=Fixing keycron function keys
[Service]
Type=oneshot
ExecStart=echo 0 | sudo tee /sys/module/hid_apple/parameters/fnmode
[Install]
WantedBy=multi-user.target
